

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* overflow-x: hidden; */
}

.card {
  width: 30% !important;
  height: 20em;
  /* margin: 1em; */
  border-radius: 30px;
  border: 2px solid #ECF0F1;

  display: flex;
  flex-direction: column;

 

}

.card img {
  max-height: 40%;
  max-width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

 .card h1 {
  text-align: left;
  font-size: 10px;
  font-weight: bold;
  color: #3498DB;
  margin: 2px;
}

.card h2 {
  text-align: left;
  font-size: 15px;
  color: #1ABC9C;
  margin: 2px;
}
.card h3 {
  font-size: 15px;
  color: #1ABC9C;
}
.card h4 {
  font-size: 15px;
}


.card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
